### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [9]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [10]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [11]:
school_data_complete.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [12]:
#Calculate the total number of schools
num_schools = school_data_complete["school_name"].nunique()
print(f"There are {num_schools} schools total in the dataframe.")

There are 15 schools total in the dataframe.

In [13]:
#Calculate the total number of students
school_data_complete["student_name"].describe()

#There are 39170 students, some may have same/similar names.

count             39170
unique            32715
top       Michael Smith
freq                 26
Name: student_name, dtype: object

In [14]:
#There are 39170 unique student ID's so that confirms that there are 39170 students. 
total_students = school_data_complete["Student ID"].nunique()
print(f"There are {total_students} total students.")

There are 39170 total students.

In [15]:
#Calculate the total budget
school_budget = school_data_complete[["school_name", "budget"]]
budget = school_budget.groupby("school_name")
mean = budget.mean()
mean

                        budget
school_name
Bailey High School     3124928
Cabrera High School    1081356
Figueroa High School   1884411
Ford High School       1763916
Griffin High School     917500
Hernandez High School  3022020
Holden High School      248087
Huang High School      1910635
Johnson High School    3094650
Pena High School        585858
Rodriguez High School  2547363
Shelton High School    1056600
Thomas High School     1043130
Wilson High School     1319574
Wright High School     1049400

In [43]:
total = mean.sum()
new_total = 24649428

print(f"The total budget is: {total}")

The total budget is: budget    24649428
dtype: int64

In [17]:
#Calculate the average math score
average_math_score = school_data_complete["math_score"].mean()
print(f"The average math score is: {average_math_score}")

The average math score is: 78.98537145774827

In [18]:
#Calculate the average reading score
average_reading_score = school_data_complete["reading_score"].mean()
print(f"The average reading score is: {average_reading_score}")

The average reading score is: 81.87784018381414

In [19]:
#Calculate the percentage of students with a passing math score (70 or greater)
passing_math = school_data_complete["math_score"] >= 70
passing_math.value_counts()

#29370 students got a 70 or higher, see next cell for percentage calculation.

True     29370
False     9800
Name: math_score, dtype: int64

In [20]:
#total_students is defined already. 
students_pass_math = 29370

#Calculate the percentage of students with a passing math score (70 or greater)
percentage_pass_math = students_pass_math/total_students * 100
print(f"The percentage of students that pass math: {percentage_pass_math}")

The percentage of students that pass math: 74.9808526933878

In [21]:
#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading = school_data_complete["reading_score"] >= 70
passing_reading.value_counts()

#33610 students got a 70 or higher, see next cell for percentage calculation.

True     33610
False     5560
Name: reading_score, dtype: int64

In [22]:
#total_students is defined already. 
students_pass_reading = 33610

#Calculate the percentage of students with a passing reading score (70 or greater)
percentage_pass_reading = students_pass_reading/total_students * 100
print(f"The percentage of students that pass reading: {percentage_pass_reading}")

The percentage of students that pass reading: 85.80546336482001

In [23]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
passing_math_reading = school_data_complete[(school_data_complete["reading_score"] >= 70) &
                                            (school_data_complete["math_score"] >= 70)]
                            

num_passing_math_reading = passing_math_reading["Student ID"].nunique()
print(f"The number of students passing both reading and math is {num_passing_math_reading}.")
#Percentage calculated in next cell.

The number of students passing both reading and math is 25528.

In [24]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
percentage_pass_read_math = num_passing_math_reading/total_students * 100
print(f"The percentage of students that pass both math and reading: {percentage_pass_read_math}")

The percentage of students that pass both math and reading: 65.17232575950983

In [44]:
#Create a dataframe to hold the above results
school_df = pd.DataFrame([{"Total Schools": num_schools, "Total Students": total_students,
                          "Total Budget": new_total, "Average Math Score": average_math_score, 
                           "Average Reading Score": average_reading_score, "% Passing Math": percentage_pass_math, 
                           "% Passing Rading": percentage_pass_reading, "% Overall Passing": percentage_pass_read_math
                          }])
school_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Rading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [19]:
#Optional: give the displayed data cleaner formatting

In [50]:
rounded_average_math_score = round(average_math_score, 0)
rounded_average_reading_score = round(average_reading_score, 0)
rounded_percentage_pass_math = round(percentage_pass_math, 0)
rounded_percentage_pass_reading = round(percentage_pass_reading, 0)
rounded_percentage_pass_read_math = round(percentage_pass_read_math, 0)

In [65]:
school_df = pd.DataFrame([{"Total Schools": num_schools, "Total Students": total_students,
                          "Total Budget": new_total, "Average Math Score": rounded_average_math_score, 
                           "Average Reading Score": rounded_average_reading_score, "% Passing Math": rounded_percentage_pass_math, 
                           "% Passing Rading": rounded_percentage_pass_reading, "% Overall Passing": rounded_percentage_pass_read_math
                          }])
school_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Rading,% Overall Passing
0,15,39170,24649428,79.0,82.0,75.0,86.0,65.0

In [66]:
school_df["Total Budget"] = school_df["Total Budget"].map("${:,.2f}".format)
school_df["% Passing Math"] = school_df["% Passing Math"].map("{:.1f}%".format)

In [67]:
school_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Rading,% Overall Passing
0,15,39170,"$24,649,428.00",79.0,82.0,75.0%,86.0,65.0

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [30]:
df_school = school_data_complete.set_index("school_name")
df_school

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,39165,Donna Howard,F,12th,99,90,14,Charter,1635,1043130
Thomas High School,39166,Dawn Bell,F,10th,95,70,14,Charter,1635,1043130
Thomas High School,39167,Rebecca Tanner,F,9th,73,84,14,Charter,1635,1043130
Thomas High School,39168,Desiree Kidd,F,10th,99,90,14,Charter,1635,1043130
Thomas High School,39169,Carolyn Jackson,F,11th,95,75,14,Charter,1635,1043130

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type